<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>connexion candidat</title>
</head>
<body>
  <div class="uk-section ">
    <div class="uk-container uk-container-expand uk-width-expand  ">
      <div class="title">
        <h1>Connexion administrateur</h1>
      </div>
      <form class="uk-form-stacked uk-margin ">
        <div class="uk-margin">
            <div class="uk-form-stacked">
              <label class="uk-form-label" for="form-horizontal-text">Identifiant</label>
              <input class="uk-input uk-width-1-1" id="form-horizontal-text" type="text" placeholder="identifiant">
            </div>
        </div>
        <div class="uk-margin">
          <div class="uk-form-stacked">
            <label class="uk-form-label" for="form-horizontal-text">Mot de passe</label>
            <input class="uk-input uk-width-1-1" id="form-horizontal-text" type="password" placeholder="Mot de passe">
          </div>
      </div>
      <div class="uk-margin btn">
        <button class="uk-button uk-button-secondary">Se connecter</button>
      </div>
    </form>
    </div>
</div>
</body>
</html>
