<app-navbar></app-navbar>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <h1 class="text-center">Connexion administrateur</h1>
        </div>
        <div class="card-body">
          <form class="needs-validation" novalidate>
            <div class="form-group">
              <label for="identifiant">Identifiant</label>
              <input type="text" class="form-control" id="identifiant" placeholder="Identifiant" required>
              <div class="invalid-feedback">
                Veuillez entrer votre identifiant.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" class="form-control" id="password" placeholder="Mot de passe" required>
              <div class="invalid-feedback">
                Veuillez entrer votre mot de passe.
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Se connecter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
