<!-- <app-navbar></app-navbar>
<span class="back">
  <i class="fas fa-long-arrow-alt-left"></i>
  back
</span>

<section class="profile_container">
  <div class="profile_img_section">
    <img class="profile_img-LG" src="https://cdn.idntimes.com/content-images/community/2020/10/122163576-262420488513552-863075192792965334-n-f95e3dd6d25d3618eb9f1b3b9bcc5796.jpg" />
    <div class="flag_wrapper">
      <img class="flag" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/flag-south-korea_1f1f0-1f1f7.png" alt="South Korean Flag" />
    </div>
  </div>

  <div class="profile_desc_section">
    <h2>Seo Dal-Mi</h2>
    <h3>CEO</h3>
    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    <div class="interests">
      <span class="interests_item">Technology</span>
      <span class="interests_item">Management</span>
      <span class="interests_item">Leadership</span>
    </div>
    <div>
      tu peux ajouter quelque design ici et modifie le tableau pour faire convenu à ce qu'on recherche merci
    </div>
  </div>

</section>

<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <ul>
        <li>
          <div class="link_img_wrapper">
            <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/round-pushpin_1f4cd.png" alt="">
          </div>
          <p>Seoul, South Korea</p>
        </li>
        <li>
          <div class="link_img_wrapper">
            <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/speaking-head_1f5e3-fe0f.png" alt="">
          </div>
          <p>Korean, English</p>
        </li>
        <li>
          <div class="link_img_wrapper">
            <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/265/globe-with-meridians_1f310.png" alt="">
          </div>
          <p>sandbox.kr/samsantech</p>
        </li>
      </ul>
    </div>
    <div class="col-lg-10">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Nom & Prénoms</p>
            </div>
            <div class="col-sm-3">

              <p class="text-muted mb-0">Johnatan Smith</p>
            </div>
            <div class="col-sm-3">

              <p class="text-muted mb-0">Johnatan Smith</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">example@example.com</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Numéro de téléphone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">(097) 234-5678</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mobile</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">(098) 765-4321</p>
            </div>
          </div>
          <hr>
          <div class="row">

            <div class="col-sm-3">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer> -->

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
   <a  routerLink="/accueil"> La Recruteuse</a> 
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-links">
    <a routerLink="/offre-emploi">Offre d'emploi</a>
    <a routerLink="/talents">Mes Offres </a>
    <a routerLink="/inscription-candidat"> Profil</a>
    <a routerLink="/accueil">Se Deconnecter</a>
   
  </div>
</div>


<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4" id="pro">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">John Smith</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
          </div>
        </div>
       
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nom & Prénoms</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Johnatan Smith</p>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">example@example.com</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Numéro de téléphone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(097) 234-5678</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(098) 765-4321</p>
              </div>
            </div>
            <hr>
            <div class="row">

              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 mb-md-0" id="large">
                    <div class="card-body" id="large">
                        <p>A Propos de Moi</p>
                        <p>Je suis un développeur Full Stack avec 2 ans d'expérience dans le domaine. J'ai récemment rejoint la  Recruteuse pour trouver de nouvelles opportunités de carrière passionnantes.
                            Au cours des deux dernières années, j'ai travaillé sur des projets variés, allant de la création de sites web à la conception d'applications complexes. J'ai acquis une solide expérience en utilisant des technologies telles que Angular, React, Node.js, Express.js et MongoDB pour créer des applications web dynamiques et performantes.
                            En tant que développeur Full Stack, j'ai une compréhension complète de l'ensemble du processus de développement d'applications, de la conception et du développement de l'interface utilisateur à la mise en place de la logique d'arrière-plan et de la gestion des bases de données.
                            Je suis également à l'aise dans un environnement de travail Agile et j'ai travaillé sur des projets en utilisant la méthodologie Scrum.
                            Je suis excité à l'idée de poursuivre ma carrière en tant que développeur Full Stack et j'attends avec impatience de discuter de la possibilité de travailler ensemble pour créer des applications innovantes et passionnantes.</p>
                    </div>
                </div>
            </div>
          </div>
          <br>

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>