/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.back {
  display: inline-block;
  color: #333;
  cursor: pointer;
  margin-bottom: 20px;
}
.profile_container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
}

.profile_img_section {
  margin-right: 20px;
}

.profile_img-LG {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.flag_wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: -20px;
}

.flag {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile_desc_section {
  flex-grow: 1;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.interests {
  margin-bottom: 10px;
}

.interests_item {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 20px;
}

/* Contact Info Styles */
.card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.card-body {
  padding: 0;
}

.card-body p {
  margin-bottom: 5px;
}

.card-body hr {
  margin: 10px 0;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 768px) {
  .profile_container {
    flex-direction: column;
  }

  .profile_img_section {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
