 <app-navbar></app-navbar>
<section class="profile_container">
  <div class="profile_img_section">
    <img class="profile_img-LG" src="https://cdn.idntimes.com/content-images/community/2020/10/122163576-262420488513552-863075192792965334-n-f95e3dd6d25d3618eb9f1b3b9bcc5796.jpg" />
  </div>
  <div class="profile_desc_section">
    <h2>Seo Dal-Mi</h2>
    <h3>CEO</h3>
    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <div class="interests">
      <span class="interests_item">Technology</span>
      <span class="interests_item">Management</span>
      <span class="interests_item">Leadership</span>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <ul>
        <li>
          <div class="link_img_wrapper">
            <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/round-pushpin_1f4cd.png" alt="">
          </div>
          <p>Seoul, South Korea</p>
        </li>
        <li>
          <div class="link_img_wrapper">
            <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/speaking-head_1f5e3-fe0f.png" alt="">
          </div>
          <p>Korean, English</p>
        </li>
        <li>
          <div class="link_img_wrapper">
            <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/265/globe-with-meridians_1f310.png" alt="">
          </div>
          <p>sandbox.kr/samsantech</p>
        </li>
      </ul>
    </div>
    <div class="col-lg-10">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Nom & Prénoms</p>
            </div>
            <div class="col-sm-3">
              <p class="text-muted mb-0">Johnatan Smith</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">example@example.com</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Numéro de téléphone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">(097) 234-5678</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mobile</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">(098) 765-4321</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
 
