 <app-navbar></app-navbar>
<section class="profile_container">
  <div class="profile_img_section">
    <img class="profile_img-LG" src="https://cdn.idntimes.com/content-images/community/2020/10/122163576-262420488513552-863075192792965334-n-f95e3dd6d25d3618eb9f1b3b9bcc5796.jpg" />
  </div>
  <div class="profile_desc_section">
    <!-- <h2>Johnatan Smith</h2>
   
    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> -->
  
    <div class="col-lg-10 mt-5">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Nom & Prénoms</p>
            </div>
            <div class="col-sm-3">
              <p class="text-muted mb-0" class="nmodif">Johnatan Smith</p>
              <input type="text" name="nom" value="Johnatan Smith" placeholder="Nom Complet" class="modif" focus>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Biographie</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" class="nmodif">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eius quasi optio ad praesentium doloremque voluptatem deleniti neque, quas amet minima nobis quia quod ullam, nemo illum sunt eum rem.</p>
              <textarea name="bio" id="" cols="30" rows="3" class="modif">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, quos? Corporis, neque dicta. Ullam eligendi amet quasi voluptas voluptate nostrum, perferendis iusto optio soluta. Facere doloremque hic magnam totam recusandae.</textarea>
              <!-- <input type="text" value="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem eius quasi optio ad praesentium doloremque voluptatem deleniti neque, quas amet minima nobis quia quod ullam, nemo illum sunt eum rem." placeholder="Biographie" class="modif"> -->
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" class="nmodif">example@example.com</p>
              <input type="email" name="email" value="example@example.com" placeholder="Email" class="modif">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Numéro de téléphone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" class="nmodif">(097) 234-5678</p>
              <input type="tel" name="tel" value="(097) 234-5678" placeholder="Numero Telephone" class="modif">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" class="nmodif">Bay Area, San Francisco, CA</p>
              <input type="texte" name="adresse" value="Bay Area, San Francisco, CA" placeholder="Adresse" class="modif" width="100%">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buton">
      <button id="bmodif">Modifier</button>
      <button id="bregist">enregistrer</button>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <!-- <div class="col-lg-2">
      <ul>
        <li>
          <div class="link_img_wrapper">
            <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/round-pushpin_1f4cd.png" alt="">
          </div>
          <p>Seoul, South Korea</p>
        </li>
        <li>
          <div class="link_img_wrapper">
            <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/speaking-head_1f5e3-fe0f.png" alt="">
          </div>
          <p>Korean, English</p>
        </li>
        <li>
          <div class="link_img_wrapper">
            <img class="link_img" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/265/globe-with-meridians_1f310.png" alt="">
          </div>
          <p>sandbox.kr/samsantech</p>
        </li>
      </ul>
    </div> -->
    <!-- <div class="col-lg-10">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Nom & Prénoms</p>
            </div>
            <div class="col-sm-3">
              <p class="text-muted mb-0">Johnatan Smith</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">example@example.com</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Numéro de téléphone</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">(097) 234-5678</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Mobile</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">(098) 765-4321</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
<app-footer></app-footer>
 
