<app-navbar></app-navbar>
<main>
  <div class="container">
    <h1 class="mt-4 mb-4">Trouvez votre prochain emploi</h1>
    <form>
      <div class="row">
        <div class="col-sm-4 mb-4">
          <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Métiers">
        </div>
        <div class="col-sm-4 mb-4">
          <input type="text" class="form-control" id="location" name="location" placeholder="Ville">
        </div>
        <div class="col-sm-4 mb-4">
          <select class="form-select" id="category" name="category">
            <option value="" selected>Type de contrat</option>
            <option value="informatique">CDD</option>
            <option value="vente">CDI</option>
            <option value="finance">Freelance</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Rechercher</button>
    </form>
</div>
</main>
<main>
  <div  class="container">
    <h1 class="text-center my-5">Liste des offres d'emploi</h1>
    <div class="row">
   
        <div class="job-offer">
          <h2>Emploi.titre</h2>
          <p>lieu</p>
          <p><strong>Type de poste :</strong> .typePoste</p>
          <p><strong>Compétences nécessaires :</strong>.competences</p>
          <p><strong>Description du poste :</strong> .descriptionPoste</p>
          <a routerLink="/postuler-offre" class="btn btn-primary">Postuler</a>
        </div>
      
    </div>
  </div>
</main>
<app-footer></app-footer>