<app-navbar></app-navbar>
  <div class="container mt-5">
    <h1 class="text-center mb-4">Postuler à l'offre d'emploi</h1>

    <form action="#" method="post">
      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom :</label>
        <input type="text" name="prenom" id="prenom" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="email">Numéro de Telephone (fonctionnelle)</label>
        <input type="email" name="numero de telephone" id="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="cv">CV :</label>
        <input type="file" class="form-control-file" required>
      </div>
      <div class="form-group">
        <label for="lettre_motivation">Lettre de motivation :</label>
        <textarea  class="form-control" rows="5" required></textarea>
      </div>
      <div class="form-group">
        <label for="disponibilite">Disponibilité :</label>
        <input type="text" name="disponibilite" id="disponibilite" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="remarques">Remarques :</label>
        <textarea name="remarques" id="remarques" class="form-control" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
    </form>
  </div>
<app-footer></app-footer>