body {
  background-image: url("src/assets/images/1.avif");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.uk-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 50px;
  width: 500px;
}

.title{
  text-align: center;
}

form {
  margin-top: 20px;
}

h1{
  font-family: 'Roboto';
  font-weight: bold;
  color: #5fcf80;
}

.btn-primary {
  background-color: #5fcf80;
  border: none;
  border-radius: 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary:hover {
  background-color: #02912d;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.title h1 {
  margin: 0;
  text-align: center;
  width: 100%;
}

.btn-close {
  position: absolute;
  top: -20px;
  right: 0;
}
