

body{
  display: flex;
  justify-content: center;
  align-items: center;

}

.title{
  text-align: center;
}
form{
 width: 500px;

}
.btn{
  text-align: end;
}

a
{
  color: black;
}
h1{
  font-family: 'Roboto';
  font-weight: bold;
  color: #5fcf80;
}
.btn-primary{

  background-color: #5fcf80;

}