.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #555;
  }
  
  .error h1 {
    font-size: 8rem;
    margin-bottom: 0;
  }
  
  .error p {
    font-size: 2rem;
    margin-top: 0;
  }
  