.main {
    min-height: 200vh;
    background-color: #e9e9e9;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 75px;
    margin-bottom: 25px;
    background-color: #5fcf80;
    z-index: 100;
}

.wrapper {
    display: flex;
    position: relative;
    width: 90%;
    top: 100px;
    margin: 0px auto;
    background-color: #e9e9e9;
}

.sidebar {
    position: fixed;
    top: 100px;
    width: 20%;
    min-height: 80vh;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
}

li {
    list-style: none;
    margin: 15px 5px;
    padding: 30px 15px;
}

li a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
}

li a:hover {
    color: #5fcf80;
}

.container {
    position: relative;
    left: 15%;
    width: 80%;
    padding: 15px 0px 15px 15px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 5px;
}