<app-sidebar></app-sidebar>
<div class="main">
    <div class="navbar"></div>
    <div class="wrapper">
        <div class="container">
            <h1>Dashboard</h1>
            <div class="cards">
                <div class="shadow-sm p-3 mb-5 bg-white rounded" style=" width: 30%; height: 150px; border-left: 15px solid #e1ff23;">
                    <h3>Recruteurs</h3>
                    <h2>{{rect}}</h2>
                    <progress min="0" max="100" value="36"></progress>
                </div>
                <div class="shadow-sm p-3 mb-5 bg-white rounded" style=" width: 30%; height: 150px; border-left: 15px solid #898989;">
                    <h3>Candidats</h3>
                    <h2>{{getJsonValue}}</h2>
                    <progress min="0" max="100" value="74"></progress>
                </div>
                <div class="shadow-sm p-3 mb-5 bg-white rounded" style=" width: 30%; height: 150px; border-left: 15px solid #000000;">
                    <h3>Total Utilisateurs</h3>
                    <h2>100</h2>
                </div>
            </div>
            <div class="cards">
                <div class="shadow-sm p-3 mb-5 bg-white rounded" style=" width: 62%; height: 350px;">
                    <h3>visite Utilisateurs</h3>
                    <div>
                        <canvas id="barChart" width="400" height="200"></canvas>
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-5 bg-white rounded" style=" width: 28%; height: 350px;">
                    <h3>Profile Visiteurs</h3>
                    <div>
                        <canvas id="pieChart" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <h3>Candidats</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of getJsonValue">
                            <td>{{item.name}}</td>
                            <td>Doe</td>
                            <td>john@doe.com</td>

                        </tr>
                        
                    </tbody>
                </table>
                <a class="d-flex mt-3 " routerLink="/dashboard-admin/users">Voir Plus...</a>
            </div>
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <h3>Recruteurs</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@doe.com</td>

                        </tr>
                        <tr>
                            <td>Lionnel</td>
                            <td>Messi</td>
                            <td>leo@messi.com</td>
                        </tr>
                        <tr>
                            <td>Critiano</td>
                            <td>Ronaldo</td>
                            <td>cristiano@ronaldo.com</td>
                        </tr>
                    </tbody>
                </table>
                <a class="d-flex mt-3 " routerLink="/dashboard-admin/users">Voir Plus...</a>
            </div>
        </div>
    </div>
</div>