 <router-outlet> 
<!-- <app-navbar></app-navbar> -->
<!-- <app-connexion-admin></app-connexion-admin> -->
<!-- <app-offre-emploi></app-offre-emploi> -->
<!-- <app-profil-c></app-profil-c> -->
<!-- <app-postuler-offre></app-postuler-offre> -->

<!-- <app-footer></app-footer> -->
<!-- <app-recup-mdp></app-recup-mdp> -->
<!-- <app-inscription-recruteur></app-inscription-recruteur> -->
<!-- <app-connexion-recruteur></app-connexion-recruteur>
<app-inscription-candidat></app-inscription-candidat> -->
<!-- <app-publier-offre></app-publier-offre> -->
<!-- <app-talents></app-talents> -->


