<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>HELLO WORD </p>
  <button class="uk-button uk-button-danger">Danger</button>
  <table class="uk-table">
    <caption></caption>
    <thead>
        <tr>
            <th>ecole</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>femme</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>homme</td>
        </tr>
    </tfoot>
</table>
</body>
</html>
