<div class="main">
    <div class="navbar"></div>
    <div class="wrapper">
        <div class="sidebar">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/dashboard-admin">
                            <box-icon name="grid"></box-icon> Dashboard</a>
                    </li>
                    <li>
                        <a routerLink="/dashboard-admin/users">
                            <box-icon name="user"></box-icon> Utilisateurs</a>
                    </li>
                    <li>
                        <a routerLink="/dashboard-admin/stats">
                            <box-icon name="chart"></box-icon> Statistiques</a>
                    </li>
                    <li>
                        <a routerLink="/dashboard-admin/notifs">
                            <box-icon name="message"></box-icon> Notifications</a>
                    </li>
                    <li>
                        <a routerLink="/accueil">
                            <box-icon name="log-out"></box-icon> Deconnexion</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <h1>Notifications</h1>
            <div class="cards">

            </div>
            <div class="cards">

            </div>
        </div>
    </div>
</div>