<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-center mt-5 mb-3">Offre Premium - La Recruteuse</h1>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Pré-analyse de CV par des experts</h4>
            <p class="card-text">Nos experts en recrutement analyseront votre CV pour vous donner des conseils personnalisés sur la façon de l'améliorer et de vous présenter de manière plus efficace aux recruteurs.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4 class="text-center mt-5 mb-3">Inscrivez-vous dès maintenant</h4>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="nom" placeholder="Nom">
          </div>
          <br>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Adresse email">
          </div>
          <button type="submit" class="btn btn-warning btn-block">S'inscrire</button>
        </form>
      </div>
    </div>
  </div>
  <br>
<br>
<br>
  <!-- Liens vers les fichiers JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4+Nsz"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

    <app-footer></app-footer>