<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="premium-subscription mt-4" data-aos="fade-right">
                <h3>Souscrire à l'offre premium</h3>
                <button type="button" class="btn btn-warning" routerLink="/premium">Souscrire</button>
            </div>
            <!-- <div class="applicants mt-5" data-aos="fade-right" data-aos-delay="200">
                <h3>Candidats ayant postulés</h3>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Nom du candidat1</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Email</h6>
                        <h6 class="card-subtitle mb-2 text-muted">numero de telephone</h6>
                        <p class="card-text">Informations sur le candidat</p>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body" style="background-color:floralwhite">
                        <h5 class="card-title">Nom du candidat2</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Email</h6>
                        <h6 class="card-subtitle mb-2 text-muted">numero de telephone</h6>
                        <p class="card-text">Informations sur le candidat</p>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Nom du candidat3</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Email</h6>
                        <h6 class="card-subtitle mb-2 text-muted">numero de telephone</h6>
                        <p class="card-text">Informations sur le candidat</p>
                    </div>
                </div>
            </div> -->
            <div class="candidate-profile">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Nom :</h4>
                        <p>John Doe</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Prénom :</h4>
                        <p>John</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Email :</h4>
                        <p>johndoe@gmail.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Numéro de téléphone :</h4>
                        <p>1234567890</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Disponibilité :</h4>
                        <p>Immédiatement</p>
                    </div>
                    <div class="col-md-4">
                        <h4>CV :</h4>
                        <a href="#">Télécharger le CV</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Lettre de motivation :</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo ac est malesuada ultrices. Suspendisse potenti. Sed et elit feugiat, fermentum tellus at, fringilla felis.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Remarques :</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel justo ac est malesuada ultrices. Suspendisse potenti. Sed et elit feugiat, fermentum tellus at, fringilla felis.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="job-offers mt-3" data-aos="fade-left">
                <h3>Offres d'emploi</h3>
                <p>Ici, ajoutez vos offres d'emploi </p>
                <div class="card mt-3">
                    <div class="card-body">
                        <h2 class="card-title">Titre</h2>
                        <p>Lieu</p>
                        <p><strong>Type de poste :</strong>typePoste</p>
                        <p><strong>Compétences nécessaires :</strong>competences</p>
                        <p><strong>Description du poste :</strong> descriptionPoste</p>
                        <p class="card-text">Compétences, Description du poste</p>
                    </div>
                </div>
                <button class="btn btn-warning btn-block mt-3" type="button" routerLink="/publier-offre">Publier une offre d'emploi</button>
            </div>
        </div>

    </div>
</div>