<nav>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
        <li>
          <a href="#">Espace candidat</a>
        </li>
        <li>
            <a href="#">Espace recruteur</a>
        </li>
    </ul>
  </div>
</nav>
<div>
  <h1>QUI SOMMES NOUS ?</h1>
  <div class="pres">
    <!-- <p>
      Bienvenue sur ma plateforme de recrutement en ligne ! Je suis Eulalie Kouassi, experte en recrutement et en médiation emploi. Mon objectif est de connecter les recruteurs et les chercheurs d'emploi de manière simple et efficace. Sur ma plateforme, vous pouvez facilement créer un profil, postuler à des offres d'emploi et trouver des candidats qualifiés pour vos postes vacants. Que vous soyez à la recherche d'un nouvel emploi ou que vous cherchiez à embaucher les meilleurs talents, ma plateforme est là pour vous aider. Rejoignez-nous dès maintenant et laissez-nous vous aider à trouver votre prochaine opportunité de carrière ou votre prochain collaborateur exceptionnel !
    </p> -->

    <div class="container">
      <p>
        <span>
          Bienvenue sur ma plateforme de recrutement en ligne ! Je suis Eulalie Kouassi, experte en recrutement et en médiation emploi. Mon objectif est de connecter les recruteurs et les chercheurs d'emploi de manière simple et efficace. Sur ma plateforme, vous pouvez facilement créer un profil, postuler à des offres d'emploi et trouver des candidats qualifiés pour vos postes vacants. Que vous soyez à la recherche d'un nouvel emploi ou que vous cherchiez à embaucher les meilleurs talents, ma plateforme est là pour vous aider. Rejoignez-nous dès maintenant et laissez-nous vous aider à trouver votre prochaine opportunité de carrière ou votre prochain collaborateur exceptionnel !
        </span>
      </p>
      <p>
        <span>
          Take Action.
        </span>
      </p>
    </div>
    <img src="../assets/1.avif">
  </div>


</div>

