<nav>
  <div class="uk-navbar-left">
    <h1>La Recruteuse</h1>
  </div>

  <div class="uk-navbar-right espace " >
    <ul class="uk-navbar-nav">
        <li>
          <a routerLink="/inscription-candidat">Espace candidat</a>
        </li>
        <li>
            <a href="/inscription-recruteur">Espace recruteur</a>
        </li>
    </ul>
  </div>
</nav>
<div class="en-tete">
<ul class="trois">
  <li>Acceuil</li>
  <li>Formations</li>
  <li>Contact</li>
</ul>
</div>
<div>
  <h1>QUI SOMMES NOUS ?</h1>
  <div class="first">
    <div class="un">
      <h5>Commencer votre carriere ici</h5>
      <h1>Vous cherchez un changement de carrière ? </h1>
      <h2>Parcourez nos offres d'emploi des maintenant</h2>
    </div>
    <div class="deux"></div>
  </div>
  <div class="pres">
    <div class="container">
      <a>

        Bienvenue sur  <span>La recruteuuse</span>  Je suis Eulalie Kouassi, experte en recrutement et en médiation emploi. Mon objectif est de connecter les recruteurs et les chercheurs d'emploi de manière simple et efficace. Sur ma plateforme, vous pouvez facilement créer un profil, postuler à des offres d'emploi et trouver des candidats qualifiés pour vos postes vacants. Que vous soyez à la recherche d'un nouvel emploi ou que vous cherchiez à embaucher les meilleurs talents, ma plateforme est là pour vous aider.

      </a>
      <p>
        <span>
          Rejoignez-nous dès maintenant et laissez-nous vous aider à trouver votre prochaine opportunité de carrière ou votre prochain collaborateur exceptionnel !
        </span>
      </p>
    </div>
    <img src="../assets/ek.jpeg">
  </div>


</div>

