/* a {
  color: #3ac162;
  text-decoration: none;
}

a:hover {
  color: #3ac162;
  text-decoration: none;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
#hero {
  width: 100%;
  height: 80vh;
  background: url("src/assets/images/111.jfif") top center;
  background-size: cover;
 
}



#hero .container {
  padding-top: 72px;
}

/* @media (max-width: 992px) {
  #hero .container {
    padding-top: 62px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
} */

/* #hero h2 {
  color: #eee;
  margin: 10px 0 0 0;
  font-size: 24px;
} */

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #fff;
  color: #fff;
} 

#hero .btn-get-started:hover {
  background: #5fcf80;
  border: 2px solid #5fcf80;
} 

/* @media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

/* @media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
} */