<app-navbar></app-navbar>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Trouvez le job parfait,<br>trouvez le talent parfait</h1>
      <h2>Rejoignez-nous aujourd'hui !</h2>
      <a  class="btn-get-started">Commencer</a>
    </div>
  </section><!-- End Hero -->
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p class="fst-italic">
              Bienvenue sur La Recruteuse, votre plateforme de recrutement en ligne. Que vous soyez candidat à la recherche de votre prochain emploi ou recruteur à la recherche de talents, La Recruteus est l'endroit idéal pour vous..
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3 class="why">Pourquoi choisir La Recruteuse ? </h3>
              <p>
                La Recruteuse est un site web de recrutement qui s'adresse à la fois aux candidats et aux recruteurs. Le site offre une plateforme facile à utiliser pour la recherche d'emplois et de collaborateurs. Les candidats peuvent parcourir des offres d'emploi, postuler en ligne et mettre à jour leur profil. Les recruteurs peuvent publier des offres d'emploi, rechercher des candidats, gérer des candidatures et communiquer avec les candidats directement à partir de la plateforme.La Recruteuse offre une expérience utilisateur agréable et productive pour tous les utilisateurs.
              </p>
              
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-journal-bookmark-fill"></i>
                    <br><br>
                    <h4>Plateforme complète pour candidats et recruteurs :</h4>
                    <p>  Nous offrons une plateforme complète pour les candidats et les recruteurs, où les candidats peuvent rechercher des emplois et les recruteurs peuvent rechercher des collaborateurs.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-lightning-charge"></i>
                    <br><br>
                    <h4>Processus de recrutement simplifié </h4>
                    <p> Nous avons simplifié le processus de recrutement, en offrant des outils et des fonctionnalités efficaces pour faciliter la recherche d'emploi et de candidats.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bi bi-trophy"></i>
                    <br><br>
                    <h4>Fiabilité garantie :</h4>
                    <p> Nous sommes fiables et nous avons à cœur la satisfaction de nos utilisateurs. Nous avons mis en place des mesures pour garantir la sécurité et la qualité de nos services.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
  <!-- ======= Footer ======= -->
 <!-- End Footer -->
 <app-footer></app-footer>