<app-navbar></app-navbar>
  <div class="uk-section  uk-width-auto d-flex position:center uk-margin-left">

    <div class="uk-container uk-container-expand uk-width-expand">
      <div class="title ">
        <h1>Publier une offre d'emploi</h1>
      </div>
      <form class="uk-form-stacked uk-margin uk-width-auto">
        <div class="uk-margin">
            <div class="uk-form-stacked">
              <label class="uk-form-label" for="form-horizontal-text">Intitulé du poste</label>
              <input class="uk-input uk-width-1-1" id="form-horizontal-text" type="text" placeholder="Intitulé du poste">
            </div>
        </div>
        <div class="uk-margin">
          <div class="uk-form-stacked">
            <label class="uk-form-label" for="form-horizontal-text">Quel est le lieu du poste ? </label>
            <input class="uk-input uk-width-1-1" id="form-horizontal-text" type="text" placeholder="lieu du poste">
          </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description du poste</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Décrivez les principales responsabilités et les tâches associées à ce poste"></textarea>
      </div>
        <div class="uk-margin">
          <div class="uk-form-stacked">
            <label class="uk-form-label" for="form-horizontal-text">Type de poste </label>
            <input class="uk-input uk-width-1-1" id="form-horizontal-text" type="text" placeholder="CDD ,CDI ... ">
          </div>
      </div>
      <div class="uk-margin">
        <div class="uk-form-stacked">
          <label class="uk-form-label" for="form-horizontal-text">Indiquez les compétences techniques et non techniques
             nécessaires pour réussir dans ce poste</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
      <div class="uk-margin btn button">
        <button class="btn btn-primary" routerLink='/connexion-recruteur'>Publier l'offre</button>
      </div>
    </form>
    </div>
</div>
<app-footer></app-footer>